@use 'variables' as v;
@use '~bulma/bulma';
@use 'font';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.columns {
    .card {
        margin: 0.5rem;
    }
}